<!-- views/prices/edit.ejs -->
<% layout("/layouts/boilerplate") -%>

<body>
    <h1>Edit Prices for <%= price.month %></h1>
    <form action="/prices/<%= price._id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">

        <table>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
            </tr>
            <tr>
                <td><input type="number" name="price1" value="<%= price.price1 %>"></td>
                <td><input type="number" name="price2" value="<%= price.price2 %>"></td>
                <td><input type="number" name="price3" value="<%= price.price3 %>"></td>
                <td><input type="number" name="price4" value="<%= price.price4 %>"></td>
                <td><input type="number" name="price5" value="<%= price.price5 %>"></td>
            </tr>
        </table>

        <button type="submit">Update Prices</button>
    </form>
</body>
