<% layout("/layouts/boilerplate") -%>

<body class="flex">
    <form method="POST" action="/prices/<%= price._id %>?_method=PUT">
        <table>
            <thead>
                <tr class="fullborder">
                    <td colspan="6">
                        <button type="submit">Update</button>
                        <button type="button" onclick="clearForm()">Clear</button>
                    </td>
                </tr>
                <tr>
                    <th><input type="text" value="A" readonly></th>
                    <th><input type="text" value="B" readonly></th>
                    <th><input type="text" value="C" readonly></th>
                    <th><input type="text" value="D" readonly></th>
                    <th><input type="text" value="E" readonly></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="price[price1]" value="<%= price.price1 %>"></td>
                    <td><input type="number" name="price[price2]" value="<%= price.price2 %>"></td>
                    <td><input type="number" name="price[price3]" value="<%= price.price3 %>"></td>
                    <td><input type="number" name="price[price4]" value="<%= price.price4 %>"></td>
                    <td><input type="number" name="price[price5]" value="<%= price.price5 %>"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <script src="/listing_price.js"></script>
</body>